---
layout: base.njk
title: As I Am
permalink: /as-i-am/
---

<h1 class="title">As I Am</h1>

<p>
  This is where I share a bit about who I am beyond my academic work &mdash; my hobbies, interests,
  and writings 👩🏻‍💻 (This section is under construction ^_^)
</p>


  <h2 class="title">1. My Roots</h2>
   <p>
   Farnaz is Persian-rooted, composed of two words: "Far" and "Naz". 
    </p>
      <ul>
      <li>
        "Far" in ancient Persian means "divine glory," "radiance," "splendour," or "kingly majesty" 😎
      </li>
      <li> 
        "Naz", common in many Indo-European languages, means "pride," "delicacy," "grace," "elegance," or "coyness". 
      </li>      

<h2 class="title">2. My Hobbies</h2>
   <p>
   My list of hobbies are wide and vast and they change through time (I like to learn new things, and I love to get to know other people through their hobbies)🐣, but here is a beginning list: 
    </p>
      <ul>
      <li> I am a Bookworm! 📚 Follow me on 
      <a href="https://www.goodreads.com/" target="_blank" rel="noopener noreferrer">
      Goodreads
      </a>
      and let's see which books we share! I am into Sci-Fi, historical, philosophical, romantic drama, poetry, and psychological books! (But I don't restrain myself)! 

      My favourite series: Harry Potter, Brontë Sisters' books (The  tenant of wildfell hall is my fav), Italio Calvino's books (most admire Invisible Cities), Rebecca Solnit's books"
      </li>

      <li> Cooking, Baking and Making food! 👩‍🍳
      I am trying different reciepes for a perfect Italian pizza dough. If you know one, let me know 
      </li> 

      <li> Learning new languages and Cultures 🗣️
      Right now, I am finishing my A1 'Italian" course on 
      <a href="https://invite.duolingo.com/profile-share/FarnazFara1?via=share_profile_qr">
      Doulingo
      </a>. Come sta? Vorrei mangiare un gelato? 🍨
      </li> 

      <li> Nature, Walking, and Hiking 🌅🌳
      Mostly limited to the British and Iranian landscapes (St Abb's is my favourite place)
      </li>

      <li> Movies, Operas, Series, Theatre shows! 🎭
      Let's clear things first: I am a big Friend's fan! 
      The only genre I don't watch are horror movies. The rest is all good! 
      </li>
      <p>
      I love operas! 
      I love so many movies, but I think my personality is depicted in the 'Before Sunrise" trilogy. 
      </p>

      <li> Games in General! 👾
      My dolls when I was a child were books, boardgames, and Lego pieces. I love to play online and computer games as well! 
      </li>
      <p>
      My current favourite boardgame is: Dixit, Backgammon, and a bit of Chess :)
      The most recent online- computer game I played: It takes two! (Amazing! Loved graphics and the scenario)
      </p>


      <li>Travel and Trip Roads 🧳✈️🗿
      I grow up in a family who loved to explore. We used to travel at least twice in a year in a car. 
      Since I am an Architect, and Heritage specialist, I love to visit new sites, cities and buildings
      </li>
      <p>
      My beloved place in the world: Basilica Sant'Apollinare di Classe
      My fridge door is full of magnets of places I visited. 
      </p>


      <li> Lego and Puzzles! 🧩
      If you want to see me as happy as a kid, invite me to make a Lego! or a Jigsaw puzzle!
      </li>
      <p>
      My beloved place in the world: Basilica Sant'Apollinare di Classe
      </p>

      <li> Photography 📷
      Analogue photography mostly! My father passed his Zenit (the Russian Tank) to me, and I have a Cannonet 28! My subjects are landscapes. 
      </li>

      <li> Gardening and Keeping plants 👩‍🌾
      This must be one of my least done activities, but it makes me feel good, and alive.  
      </li>


    <h2 class="title">3. Memberships</h2>

    <ul>
     <li>
        <strong>UK ICOMOS </strong>, ICOMOS SDG WG, ICOMOS ISCoAH (Since 2023- Joined SDG WG and ISCoAH- 2025)
      </li>
      <li>
        <strong>Association of Critical Heritage Studies</strong>, (2023)
      </li>
      <li>
        <strong>Association of Noble National Elites of Iran </strong>, University of Tehran, (Since 2016)
      </li>
    </ul>
