---
layout: base.njk
title: As I Am
permalink: /as-i-am/
---

<h1 class="title">As I Am</h1>

<p>
  This is where I share a bit about who I am beyond my academic work &mdash; my hobbies, interests,
  and writings 👩🏻‍💻 (This section is under construction ^-^)
</p>


   <p>
     ** A fact about my name: Farnaz is Persian-rooted, composed of two words: "Far" and "Naz". 
    </p>
      <ul>
      <li>
        "Far" in ancient Persian means "divine glory," "radiance," "splendour," or "kingly majesty" 😎
      </li>
      <li> 
        "Naz", common in many Indo-European languages, means "pride," "delicacy," "grace," "elegance," or "coyness". 
      </li>      
       

    <h2 class="title">Memberships</h2>

    <ul>
     <li>
        <strong>UK ICOMOS </strong>, ICOMOS SDG WG, ICOMOS ISCoAH (Since 2023- Joined SDG WG and ISCoAH- 2025)
      </li>
      <li>
        <strong>Association of Critical Heritage Studies</strong>, (2023)
      </li>
      <li>
        <strong>Association of Noble National Elites of Iran </strong>, University of Tehran, (Since 2016)
      </li>
    </ul>
