---
layout: base.njk
title: Home
isHome: true
---

<div class="row main_header">
  <div class="col-xl-3 col-lg-4 main_header_info">
    <img alt="{{ site.name }}" src="{{ site.image }}" />
    <h1>{{ site.name }}</h1>
    <h2>{{ site.jobTitle }}</h2>
    <div id="home_links">
      <li>
        <a href="mailto:{{ site.email }}" target="_blank"
          ><img src="/assets/images/icons/mail.png" alt="Email"
        /></a>
      </li>
      {%- for link in site.social %}
      <li>
        <a href="{{ link.url }}" target="_blank"
          ><img src="{{ link.icon }}" alt="{{ link.name }}"
        /></a>
      </li>
      {%- endfor %}
      <li>
        <a href="{{ site.resume }}" target="_blank"
          ><img src="/assets/images/icons/resume.png" alt="Resume"
        /></a>
      </li>
    </div>
  </div>
  <div class="col-xl-9 col-lg-8 main_header_content">
    <h2 class="title">About Me</h2>
    <p>
      Hi 👋 ! I am Farnaz, or in short, Naz. 
    </p>
    <p>
      Recently, I graduated from VUA with a PhD in History and Heritage of Cultural landscape and Urban Environments, and I am currently an associate researcher (not employed) at Newcastle University. I am looking for any teaching or Research opportunities. 
    </p>


    <h2 class="title">Research Interest</h2>
    <p>
      My main interest in the following topics lies in the intersection of the policy, research and community engagement: 
    </p>
     <ul>
      <li>
        Urban Heritage Conservation, Management and Policy;
      </li>
      <li> 
        Landscapes, whether historic, industrial or cultural landscapes research, policy; 
      </li>
      <li>
        Spatial Analysis using GIS, PPGIS, AI based tools;
      </li>
      <li>
       Creative and Participatory based approaches inresearch such as walking interviews, oral histories, crafts etc.;
      </li>
      <li>
       Cultural Interpretations of Environments (both natural and human-built), Climate Change 🌎, and Ecologies (particularly interested in Birds🦜, and Trees🌳);
      </li>
      <li>
        Place-making and Planning in Mixed and Marginalised neighbourhoods;
      </li>
      <li>
        Architecture and Urbanism History, Theory and Heritage, particularly in the WENA, European Context.
      </li>
   </ul>
    <p>
      * Recently, I grew fond of Lunar and Space Heritage 👩‍🚀🛰️
    </p>


    <h2 class="title">Education</h2>
    <ul>
      <li>
        <strong>PhD in History and Heritage of Cultural Landscapes and Urban Environments</strong>,
        Vrije Universiteit Amsterdam (VUA), Netherlands (2022 &ndash; 2025)
      </li>
      <li>
        <strong>Master of Arts, Conservation and Rehabilitation of Urban Heritage</strong>, College
        of Fine Arts, University of Tehran, Iran (2016 &ndash; 2019)
      </li>
      <li>
        <strong>Bachelor of Science, Architecture</strong>, University of Tabriz, Iran (2011 &ndash;
        2015)
      </li>
    </ul>

    <h2 class="title">Qualifications</h2>
    <ul>
      <li>
        <strong>Associate Fellow, Higher Education Academy (AFHEA)</strong>,
        Newcastle University, United Kingdom (Since June 2024)
      </li>
    </ul>

  </div>
</div>
