---
layout: base.njk
title: Teaching
permalink: /teaching/
---

<h1 class="title">Teaching</h1>

<h4 style="font-size: 1.1rem">Teaching Assistant</h4>
<p><em>College of Fine Arts, University of Tehran, Iran (Jan 2020 &ndash; Aug 2021)</em></p>
<p>Teaching modules for Bachelors and Masters programmes:</p>
<ul>
  <li>Research Methodology</li>
  <li>Urban Heritage Pathologies</li>
  <li>Conservation Design for Historic Sites and Monuments</li>
  <li>Adaptive Reuse Strategies</li>
</ul>
<p>Supervising Masters Dissertations.</p>



<h1 class="title">Webinars- Seminars</h1>

<h4 style="font-size: 1.1rem">Teaching Assistant</h4>
<p><em>College of Fine Arts, University of Tehran, Iran (Jan 2020 &ndash; Aug 2021)</em></p>
<p>Teaching modules for Bachelors and Masters programmes:</p>
<ul>
  <li>Research Methodology</li>
  <li>Urban Heritage Pathologies</li>
  <li>Conservation Design for Historic Sites and Monuments</li>
  <li>Adaptive Reuse Strategies</li>
</ul>
<p>Supervising Masters Dissertations.</p>

