---
layout: base.njk
title: Teaching
permalink: /teaching/
---

<h1 class="title">Teaching</h1>

<h4 style="font-size: 1.1rem">Teaching Assistant</h4>
<p><em>College of Fine Arts, University of Tehran, Iran (Jan 2020 &ndash; Aug 2021)</em></p>
<p>Teaching modules for Bachelors and Masters programmes:</p>
<ul>
  <li>Research Methodology</li>
  <li>Urban Heritage Pathologies</li>
  <li>Conservation Design for Historic Sites and Monuments</li>
  <li>Adaptive Reuse Strategies</li>
</ul>
<p>Supervising Masters Dissertations.</p>

<h1 class="title">Workshops</h1>
<p> Those activities I was involved in the organisations are marked by * </p>

<h4 style="font-size: 1.1rem"> ** Before PhD Workshops: </h4> 
<p><em> 1. * Joined Workshop in "Modern Use of Traditional Material (Sun-dried brick)", College of Fine Arts, University of Tehran in collaboration with University of Yazd, Iran (May 2016)</em> </p>
<ul>
<li>Venue: In person (Yazd, Iran)</li>
<li>Organised by: Architectural and Urban Heritage Student Association at Tehran University</li>
</ul>

<p><em> 2. * Joint Workshop in "Adaptive Reuse strategy for Zahir-ol-Eslam Historic House in Tehran, Iran", RWTH Aachen University in collaboration with University of Tehran  (February 2018)</em> </p>
<ul>
<li>Venue: In person (University of Tehran, Iran)</li>
<li>Organised by: Dr Somayhe Fadaei Nezhad and Dr Ana Marjike Weber</li>
</ul>

<p><em> 3. Joint Workshop in "Cultural Transformations and Architectural References", RWTH Aachen University in collaboration with University of Tehran  (October 2018)</em> </p>
<ul>
<li>Venue: In person (RWTH Aachen University, Iran)</li>
<li>Organised by: Dr Ana Marjike Weber</li>
</ul>


<h4 style="font-size: 1.1rem"> ** During PhD Workshops: </h4>

<p><em> 1. * Heriland Masterclass in "Jerusalem: Shifting demographies and contested identities – Managing multiple identities through assessment and evaluation
of design scenarios"</em> </p>
<ul>
<li>Venue: Online (14th-18th June 2021)</li>
<li>Organised by: Heriland Graduate School </li>
</ul>

<p><em> 2. * Heriland Masterclass in "Digital Transformations and Heritage Planning"</em> </p>
<ul>
<li>Venue: Online (28th June-2nd July 2021)</li>
<li>Organised by: Heriland Graduate School </li>
</ul>

<p><em> 3. Heriland Workshop on "Writing a Journal Paper: a hands-on workshop for heritage and landscape researchers" </em> </p>
<ul>
<li>Venue: Online (15th September, 6th October 2021) </li>
<li>Link: <a href="https://www.heriland.eu/2021/09/02/heriland-presents-a-two-session-workshop-writing-a-journal-paper-a-hands-on-workshop-for-heritage-and-landscape-researchers/"> Click here</a></li>
<li>Organised by: Heriland Graduate School i </li>
</ul>


<p><em> 4. * Heriland Rome Living Lab: "Reviving The Tiber River in Rome"</em> </p>
<ul>
<li>Venue: In person and Online (22nd November-5th December 2021) </li>
<li>Link: <a href="https://www.heriland.eu/2021/12/17/heriland-rome-living-lab/"> Read full report </a></li>
<li>Organised by: Heriland Graduate School in collaboration with Roma Tre University </li>
</ul>

<p><em> 5. PECUS Workshop on "Fuzzy Cognitive Mapping for Landscape Analysis"</em> </p>
<ul>
<li>Venue: In person (December 2021) </li>
<li>Link: <a href="https://pecus-erasmus.u-space.it"> More info about the Project </a></li>
<li>Organised by: Newcastle University- Dr Francesco Carrer </li>
</ul>

<p><em> 6. PECUS Workshop on "Fuzzy Cognitive Mapping and Landscape Change"</em> </p>
<ul>
<li>Venue: In person (January- February 2022) </li>
<li>Link: <a href="https://pecus-erasmus.u-space.it"> More info about the Project </a></li>
<li>Organised by: Catholic University of Valencia (UCV) </li>
</ul>

<p><em> 7. * Erasmus+ Workshop in "Capacity Building in Sustainability for Architectural Heritage" </em> </p>
<ul>
<li>Venue: In person (January 2023- December 2023) </li>
<li>Organised by: Multiple Universities (University of Tehran (Iran), National Technical University Of Athens (Greece), National University of Architecture and Construction (Goris, Armenia) </li>
</ul>

<h4 style="font-size: 1.1rem"> ** After PhD Workshops: </h4>



<h1 class="title">Conferences- Webinars- Seminars</h1>

<p><em> 1. * Webinar for the International Day of Monuments, "Living Heritage & Emergency Response" (17th April 2026)</em> </p>
<ul>
<li>Link: <a href="https://icomossdgwg.com/icomos-sdgwg-webinar-for-international-monuments-day/"> Click here</a></li>
<li> Organised by: ICOMOS SDG WG </li>
</ul>

<p><em> 2. * International Conference on “Cultural Heritage and Spatial Planning”​ (13-14th October 2024)</em> </p>
<ul>
<li>Link: <a href="https://www.heriland.eu/international-conference-on-cultural-heritage-and-spatial-planning/"> Click here</a></li>
<li> Organised by: Heriland Research and Training Network </li>
<li> Venue: Vrije Universitiet Amsterdam, Netherlands  </li>
</ul>

<p><em> 3. A Seminar on "The Role of Heritage Planners in Future Landscapes" (10th October 2024)</em> </p>
<ul>
<li>Link: <a href="https://www.heriland.eu/2024/09/30/the-role-of-heritage-planners-in-future-landscapes-public-seminar/"> Click here</a></li>
<li> Organised by: Heriland Blended Intensive program of Heritage College of Heritage Planning  </li>
</ul>

<p><em> 4. * A Webinar on the "Reconstructing/Reconciliating Contested Identities,Learning from Mosul" (15th June 2022)</em> </p>
<ul>
<li> Organised by: Contested Identities and Shifting Demographies WorkPackage- Heriland Training Network  </li>
</ul>

<p><em> 5. * A Webinar on the "Challanges of Integrated Heritage Conservation and Development" (23rd May 2021)</em> </p>
<ul>
<li> Speaker: Dr Loes Veldpaus- Newcastle University  </li>
<li> Organised by: University of Tehran  </li>
</ul>
