---
layout: base.njk
title: Teaching
permalink: /teaching/
---

<h1 class="title">Teaching</h1>

<h4 style="font-size: 1.1rem">Teaching Assistant</h4>
<p><em>College of Fine Arts, University of Tehran, Iran (Jan 2020 &ndash; Aug 2021)</em></p>
<p>Teaching modules for Bachelors and Masters programmes:</p>
<ul>
  <li>Research Methodology</li>
  <li>Urban Heritage Pathologies</li>
  <li>Conservation Design for Historic Sites and Monuments</li>
  <li>Adaptive Reuse Strategies</li>
</ul>
<p>Supervising Masters Dissertations.</p>

<h1 class="title">Workshops</h1>

<h4 style="font-size: 1.1rem">Before PhD Workshops</h4>

<ul>
  <li>Title: 1. Conservation of Masonary Buidlings </li>
</ul>
<p><em>College of Fine Arts, University of Tehran in collaboration with University of Yazd, Iran (May 2016)</em></p>
<ul>
  <li>Venue:In person (Yazd, Iran) </li>
  <li>Organised by: Architectural and Urban Heritage Student Association at Tehran University </li>
</ul>
<p>Supervising Masters Dissertations.</p>

<h4 style="font-size: 1.1rem">During PhD Workshops</h4>
<p><em>College of Fine Arts, University of Tehran, Iran (Jan 2020 &ndash; Aug 2021)</em></p>
<p>Teaching modules for Bachelors and Masters programmes:</p>
<ul>
  <li>Research Methodology</li>
  <li>Urban Heritage Pathologies</li>
  <li>Conservation Design for Historic Sites and Monuments</li>
  <li>Adaptive Reuse Strategies</li>
</ul>
<p>Supervising Masters Dissertations.</p>




<h1 class="title">Webinars- Seminars</h1>

<h4 style="font-size: 1.1rem">Teaching Assistant</h4>
<p><em>College of Fine Arts, University of Tehran, Iran (Jan 2020 &ndash; Aug 2021)</em></p>
<p>Teaching modules for Bachelors and Masters programmes:</p>
<ul>
  <li>Research Methodology</li>
  <li>Urban Heritage Pathologies</li>
  <li>Conservation Design for Historic Sites and Monuments</li>
  <li>Adaptive Reuse Strategies</li>
</ul>
<p>Supervising Masters Dissertations.</p>
